nav.chapters > * {
	display: block;
}
nav.chapters > .prev {
	text-align: start;
}
nav.chapters > .up {
	text-align: center;
}
nav.chapters > .next {
	text-align: end;
}

@media (min-width: 500px) {
	nav.chapters {
		grid-column: 1 / -1;
		margin: 2em 1em;
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(3, 1fr);
	}
	nav.chapters > .prev {
		grid-column: 1;
		text-align: center;
	}
	nav.chapters > .up {
		grid-column: 2;
		text-align: center;
	}
	nav.chapters > .next {
		grid-column: 3;
		text-align: center;
	}
}
