<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сдвиг квартала</title>
	<link rel="stylesheet" href="/simple.min.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	{% assign previousChapter = collections.chapters | sortByNumberInSlug | getPreviousCollectionItem %}
	{% assign nextChapter = collections.chapters | sortByNumberInSlug | getNextCollectionItem %}
	<header>
		<div>
			<b>Сдвиг квартала</b>
			- ранее планировавшаяся запись в <a href="https://www.openstreetmap.org/">OpenStreetMap</a>-дневнике участника <a href="https://www.openstreetmap.org/user/Anton%20Khorev">Anton Khorev</a>
			- <a href="https://github.com/AntonKhorev/osm-block-shift">исходный код</a>
		</div>
	</header>
	{% if previousChapter or nextChapter %}
		{% include "prev-next.html.liquid" %}
	{% endif %}
	<main>
		<h1>{{ title | default: "Сдвиг квартала" }}</h1>
		{{ content }}
	</main>
	{% if previousChapter or nextChapter %}
		{% include "prev-next.html.liquid" %}
	{% endif %}
</body>
</html>
