<nav>
	{% if previousChapter %}
		<a href="{{ previousChapter.url }}">&lt; {{ previousChapter.data.title }}</a>
	{% endif %}
		<a href="/">Оглавление</a>
	{% if nextChapter %}
		<a href="{{ nextChapter.url }}">{{ nextChapter.data.title }} &gt;</a>
	{% endif %}
</nav>
