<nav class="chapters">
	{% if previousChapter %}
		<a class="prev" href="{{ previousChapter.url }}">&larr; {{ previousChapter.data.title }}</a>
	{% endif %}
		<a class="up" href="/">Оглавление</a>
	{% if nextChapter %}
		<a class="next" href="{{ nextChapter.url }}">{{ nextChapter.data.title }} &rarr;</a>
	{% endif %}
</nav>
