<nav class="chapters">
	{% if previousChapter %}
		<a class="prev" href="{{ previousChapter.url }}">
			<span class="arrow">&larr;</span>
			<span class="title">{{ previousChapter.data.title }}</span>
		</a>
	{% endif %}
		<a class="up" href="/">
			<span class="title">Оглавление</span>
		</a>
	{% if nextChapter %}
		<a class="next" href="{{ nextChapter.url }}">
			<span class="title">{{ nextChapter.data.title }}</span>
			<span class="arrow">&rarr;</span>
		</a>
	{% endif %}
</nav>
